.scroll-menu
{
    white-space: nowrap;
    margin-left: -8px;
}

.scroll-menu__item
{
    display: inline-block;
    margin: 0 8px;
}

.scroll-menu__item .link
{
    color: white;
    text-decoration: none;
    line-height: 1.2;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
