.caption
{
    font-family: Serif;
    font-size: 2.5em;
    line-height: 1.1;
    letter-spacing: 2px;

    padding: 0;
    margin: 0;
}

.fonts-loaded .caption {
    font-family: "Roboto Slab";
    letter-spacing: 0;
}
