.header
{
    position: relative;
    height: 76px;
    color: white;
}

.header__inner
{
    position: fixed;
    z-index: 99;

    left: 0;
    top: 0;
    right: 0;
    height: 36px;
    padding: 20px 0;

    line-height: 36px;

    background: black;
    text-align: center;
}

.header__inner .page__inner
{
    height: 40px;
}

@media (max-width: 1000px) {
    .header__inner {
        position: absolute;
    }
}

.header__content
{
    position: relative;
    padding: 0 20%;
}

.header__left,
.header__right
{
    position: absolute;
}

.header__left
{
    left: 0;
    text-align: left;
}

.header__right
{
    right: 0;
    text-align: right;
}

.header__logo,
.header__menu
{
    display: inline-block;
    color: white;
}

.header__logo_hidden.logo
{
    display: none;
}

.header__menu.scroll-menu
{
    display: none;
}

.header__menu.scroll-menu_visible
{
    display: block;
}

.header__phone
{
    display: inline-block;

    font-weight: bold;
    font-size: 1.35em;
}

.header__hours
{
    display: inline-block;
    margin: 0 20px;

    vertical-align: top;
}
