.achievments
{
    padding: 45px 0;
}

.achievments__caption
{
    text-align: center;
}

.achievments__subcaption
{
    color: gray;
    text-align: center;
    font-size: 1.2em;

    margin-top: 12px;
}

.achievments__content
{
    display: flex;
    justify-content: space-between;

    margin: 50px 0 50px -45px;
}

.achievments__item
{
    display: inline-block;
    padding-left: 45px;

    text-align: center;
}

.achievments__pic
{
    position: relative;
    padding-top: 180px;
}

.achievments__pic:before
{
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;

    width: 140px;
    height: 140px;

    background: url('icons.jpg') no-repeat;
}

.achievments__pic_type_medal:before
{
    background-position: 0 0;
}

.achievments__pic_type_diploma:before
{
    background-position: -140px 0;
}

.achievments__pic_type_international:before
{
    background-position: -280px 0;
}

.achievments__pic_type_expert:before
{
    background-position: -435px 0;
}

.achievments__pic:after
{
    content: '';

    position: absolute;
    top: 180px;
    left: 50%;
    margin-left: -30px;

    height: 1px;
    width: 60px;

    background: gray;
}

.achievments__item-caption
{
    font-weight: normal;
    font-family: "Roboto Slab";
    font-size: 1.3em;
    line-height: 1.2;

    margin: 20px 20% 10px 20%;
}

.achievments__text
{
    color: gray;
}
