.page
{
    min-width: 1000px;
}

.page.page_theme_islands
{
    font-size: 16px;
    line-height: 1.4;
    background: #fefefe;
}

.page__wrapper
{
    min-width: 960px;
    padding: 0 20px;
    overflow: hidden;
}

.page__inner
{
    position: relative;

    max-width: 1300px;
    margin: 0 auto;
}

.page__subcaption
{
    text-align: center;
    font-size: 1.1em;
    color: gray;

    margin: 12px 0;
}
