.advantages
{
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 75px 0 45px -75px;

    list-style: none;
}

.advantages__item
{
    display: inline-block;
    padding-left: 75px;
}

.advantages__caption
{
    font-size: 2em;
}

.advantages__caption b
{
    font-size: 1.5em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}
