.about
{
    position: relative;
    padding-top: 200px;
    margin-top: -100px;
    overflow: hidden;
}

.about:before
{
    content: '';

    position: absolute;
    z-index: -1;
    left: -9999px;
    right: -9999px;
    margin-right: -100%;

    height: 300px;

    transform: rotate(6deg);

    background: #334960;
}

.about__wrapper
{
    position: relative;
    background: #334960;
    padding: 100px 0 200px 0;
}

.about__wrapper:after
{
    content: '';

    position: absolute;

    right: 0;
    bottom: -5px;

    width: 917px;
    height: 867px;
    background: url('sv.png') no-repeat;
}

.about__wrapper:before
{
    content: '';

    position: absolute;

    right: -200px;
    bottom: -300px;

    width: 1400px;
    height: 1400px;

    background: radial-gradient(rgba(255, 255, 255, 0.2), transparent, transparent);
}

@media (max-width: 1300px) {
    .about__wrapper:after
    {
        right: -100px;
    }
}

@media (max-width: 1100px) {
    .about__wrapper:after
    {
        right: -300px;
    }
}

.about__content
{
    color: white;
    margin-right: 60%;
}

.about__quote
{
    margin: 20px 0 20px -10px;
    padding-left: 15px;

    font-style: italic;
}

.about__quote:before
{
    content: "«";
    margin-left: -10px;
}

.about__quote:after
{
    content: "»";
}

.about__item
{
    position: relative;
    height: 90px;
    margin: 25px 0 25px;
    padding-left: 100px;

    display: flex;
    align-items: center;

    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.about__item:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;

    width: 81px;
    height: 81px;
    background: url('icons.png') no-repeat;
}

.about__item_pic_military:before
{
    background-position: 0 0;
}

.about__item_pic_lawer:before
{
    background-position: 0 -81px;
}
