.modal__content
{
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    padding: 40px 85px;
}

.modal__close
{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 4px;
    top: 6px;
    background: url('close.svg') center center no-repeat;
    cursor: pointer;
}
