.reasons
{
    text-align: center;
}

.reasons__caption
{
    font-family: "Roboto Slab";
    margin: 20px 25%;
}

.reasons__items
{
    dislpay: flex;
    justify-content: space-between;
    margin: 50px 10%;
}

.reasons__item
{
    position: relative;
    display: inline-block;
    vertical-align: top;

    width: 30%;
    padding: 0 1.5%;
    padding-top: 150px;
}

.reasons__item:before
{
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    height: 140px;
    width: 140px;
    margin-left: -68px;

    background: url('icons.png') no-repeat;
}

.reasons__item_pic_percent:before
{
    background-position: 0 0;
}

.reasons__item_pic_exp:before
{
    background-position: -140px 0;
}

.reasons__item_pic_map:before
{
    background-position: -285px 0;
}

.reasons__item_pic_cases:before
{
    background-position: 0 -140px;
}

.reasons__item_pic_consult:before
{
    background-position: -140px -140px;
}

.reasons__item_pic_anonim:before
{
    background-position: -285px -140px;
}

.reasons__subcaption
{
    font-family: "Roboto Slab";
    font-size: 1.3em;
    line-height: 1.2;

    margin: 20px 0;
}
