.portfolio
{
    padding: 50px 0;
    background: #2c3e52;
}

.portfolio__caption
{
    color: white;
    text-align: center;
}

.portfolio .page__subcaption
{
    color: lightgray;
}

.portfolio__content
{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
