.hero
{
    position: relative;
    background: black url('bg.jpg') 50% 50% no-repeat;
}

.hero:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: black;
    opacity: 0.2;
}

.hero__content
{
    position: relative;
    z-index: 1;
    margin-right: 50%;
    min-height: 650px;
    color: white;
}

.hero__caption
{
    font-size: 3em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);

    margin: 45px 0;
}

.hero__subcaption
{
    margin-right: 30%;
    line-height: 1.2;
}
